html {
  height: 100%;
}

body {
  background: rgb(252, 252, 248);
  background: linear-gradient(
    183deg,
    rgba(252, 252, 248, 1) 12%,
    rgba(222, 240, 230, 1) 70%
  );
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Raleway;
  font-size: 12px;
}

canvas {
  width: 200px;
}

.touched {
  border: solid;
  border-radius: 20px;
  background-color: coral;
}

.touched {
  border: 1px solid black;
  border-radius: 10px;
}

.touchedinvalid {
  border: 2px solid red;
}

.touchedvalid {
  border: 1px solid green;
}

.form-group > .touchedinvalid {
  border: 1px solid red;
}

.form-group > .touchedvalid {
  border: 1px solid green;
}

.form-label > .touchedinvalid {
  border: 1px solid red;
}

.form-label > .touchedvalid {
  border: 1px solid green;
}

.error {
  color: red;
  margin-bottom: 0px;
}

.app-flex-container {
  position: relative;
  padding: 16px;
  margin-top: 5%;
}

/* Navigation */
.navbar-color {
  z-index: 2;
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar-href {
  background-color: #e1e44a;
  color: #00416b;
  padding: 8px 20px;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

#navbar-logout {
  background-color: white;
  color: #00416b;
  padding: 8px 20px;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

.ml-auto {
  padding-right: 1%;
}

.sidebar {
  height: 100%;
  width: 14vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00aec5;
  overflow-x: hidden;
  margin-top: 65px;
}

.main-content {
  margin-left: 14vw; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

/* Home Page */
.home-page-video {
  margin-left: 10%;
}

/* FOOTER */
.footer-main {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding-left: 2%;
  background-color: #f5fffa;
}

.title {
  color: black;
}

.title h5 {
  color: black;
}

/* Register */
.register-main {

  padding-left: 20%;
  text-align: center;
}

/* All Companies */
.all-companies-main {
  padding-left: 1%;
}

/* Single Company */
.single-company-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.single-company-ratio {
  margin-left: 26%;
}


/* All Employees */
.all-employees-main {
  padding-left: 1%;
}

/* All Projects */
.all-projects-main {
  padding-left: 7%;
  padding-right: 7%;
}

.create-project-main {
  padding-left: 7%;
  padding-right: 7%;
}

/* Profile */
.main-profile {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

/* Calendar */
.rlc-calendar {
  background-color: white;
  width: 15vw;
}

.pro-icon {
  background-color: #00aec5;

  transition: "none";
}

.form-content-floor-planning {
  width: 500px;
}

.form-content-project {
  width: 500px;
}

.form-content-workstation {
  width: 500px;
}

.form-content {
  width: 500px;
}

.popup-content {
  border-radius: 5px;
  padding: 0.5rem;
  z-index: 99;
  background-color: rgb(255, 255, 255);
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

.modal {
  font-size: 12px;
  z-index: 1;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
