.wrapper {
    /* display: grid; */
    display: grid;

    grid-template-columns: repeat(var(--gridTemplateColumns), 1fr);   
    /* grid-template-rows: minmax(min-content, 45px) 1fr 18px; */
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: calc(100vh - 10px);
  }

  @media screen and (max-width: 600px) {
    .wrapper {
      flex: 100%;
      max-width: 100%;
    }
  }

.row-distance {
  text-align: center;
  padding-top: 200px;
  padding-left: 100px;
  width: 50px;
  height:15px;
}

.col-distance {
  text-align: center;
  width: var(--gridTemplateColumns) - 2;
  height:15px;
  padding-top: 20px
}

.elements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
