$sidebar-bg-color: #00aec5;
$sidebar-bg-opacity: 0.5;
$sidebar-color: white;
$sidebar-width: 270px;
$sidebar-height: 100%;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #d8d8d8 !default;
$submenu-bg-color: #00aec5 !default;
$submenu-bg-color-collapsed: #2b2b2b !default;
$icon-bg-color: #2b2b2b !default;
$icon-size: 35px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

@import "~react-pro-sidebar/dist/scss/styles.scss";
