.myButton {
	box-shadow: 0px 0px 0px 2px #00416b;
	background:linear-gradient(to bottom, #00416b 5%, #00416b 100%);
	background-color: #00416b;
	border-radius: 6px;
	border:1px solid #00416b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:6px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}
    